@font-face
    font-family: 'Ranua'
    font-style: normal
    font-weight: 400
    font-display: swap
    src: local('Ranua'), url("../fonts/Ranua-Regular.woff2") format("woff2")

@font-face
    font-family: 'Ranua'
    font-style: normal
    font-weight: bold
    font-display: swap
    src: local('Ranua'), url("../fonts/Ranua-Bold.woff2") format("woff2")

// TT Norms    
@font-face
    font-family: 'TT Norms'
    font-style: normal
    font-weight: 400
    font-display: swap
    src: local('TT Norms'), url("../fonts/TT-Norms-Regular.woff2") format("woff2")

@font-face
    font-family: 'TT Norms'
    font-style: normal
    font-weight: bold
    font-display: swap
    src: local('TT Norms'), url("../fonts/TT-Norms-Bold.woff2") format("woff2")

@font-face
    font-family: 'TT Norms'
    font-style: normal
    font-weight: 500
    font-display: swap
    src: local('TT Norms'), url("../fonts/TT-Norms-Medium.woff2") format("woff2")
