@import '_vars'

.header
    padding: 1rem 0
    position: relative

.navbar-wrap
    display: flex
    align-items: center
    justify-content: space-between

.logo-wrap
    display: flex
    align-items: center
    img
        max-width: 200px

.navigation
    .nav-list
        width: 100%
        display: flex
        align-items: center
        justify-content: flex-end
    .nav-item
        margin-left: 0.5rem
        display: flex
        justify-content: center
        align-items: center
    .nav-link
        padding: 0.75rem
        color: $accent
        transition: all 0.15s ease-in-out
        border-radius: 2px
        &:hover
            background-color: $tint
    .lang-btn
        outline: none
        background-color: transparent
        border: none
        cursor: pointer
        padding: 0.75rem
        font-family: $defaultFont
        font-size: 1rem
        color: $accent
        border-radius: 2px
        display: flex
        align-items: center
        .flag
            display: flex
            justify-content: center
            align-items: center
            margin-right: 4px
            img
                width: 24px
                border: thin solid $accent
                border-radius: 2px

.toggler-wrap
    display: none

@media (max-width: 992px)
    .logo-wrap
        img
            max-width: 150px
    .navigation
        position: absolute
        background: #fff
        top: 100%
        width: 100%
        left: 0
        padding: 1rem
        border-top: 1px solid $accent
        transition: all 0.25s ease-in-out
        .nav-list
            flex-direction: column

    .navigation-hidden
        transform: translate(-100%)

    .toggler-wrap
        display: flex
        .toggler
            background-color: #fff
            outline: none
            border: none
            margin-top: 4px
            img
                max-width: 32px

@media (max-width: 768px)
    .logo-wrap
        img
            max-width: 120px
