.section-title
    margin-bottom: 1rem
    text-align: center

.section-subtitle
    margin: 0 auto 1.5rem auto
    text-align: center
    max-width: 420px
    line-height: 1.6

.section-fallback
    background-color: #fafafa
    padding: 2rem 1rem
    width: 100%
